@charset "utf-8";
@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url(fonts/bpg_nino_mtavruli_normal.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf)
}
/* CSS Document */

.htmllogo img {
	padding-left: 30px;
	padding-top: 33px;
	padding-bottom: 23.8px;
}

nav ul {
	list-style-type: none;
	line-height: 26.4px;
	font-family: "BPG Nino Mtavruli";
	font-weight: bold;
	padding-left: 30px;
	padding-bottom: 36.1px;
}

nav ul li a:hover {
	color: #EE4036;
	cursor: pointer;
}

nav ul li a{
	text-decoration: none;
	font-size: 22px;
	transition: all 0.3s linear;
	color: #3D58A6;
}

nav .home {
	color: #EE4036;
}

.image5 {
	padding-left:30px;
}

.footer {
  text-align: left;
  margin-left: -30px;
  padding-top: 30px;
  padding-left: 30px;
}
.photo {
  display: inline-block;
  padding-left: 30.2px;
  float: left;
}
